<%- include('parts/header') %>

<section class="post">
    <header class="major">
        <h1 class="err">404 - Страница не найдена</h1>
        <h4 class="er">Упс! Похоже, вы перешли по неверной ссылке.</h4>
        <a href="/" class="button">Вернуться на главную страницу</a>
    </header>
</section>

<%- include('parts/footer') %>